/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Nunito', sans-serif; */

/* RESET */
* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* MAIN STYLE */
.visually-hidden {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  font-family: 'Nunito', Helvetica, Arial sans-serif;
  color: #222;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */
.header-info {
  background-color: #122AB2;
  padding-top: 13px;
}

.header-info .container ul {
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: space-between;
}
.header-info .container ul li {
  margin: 0 10px 12px;
}

.header-menu {
  background-color: #2C70FF;
  padding: 19px 0;
}
.header-menu .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-menu .menu-logo {
  color: #FFF;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}


.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header-nav ul a {
  color: #FFF;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px;
  transition: color 0.15s linear;
}
.header-nav ul a:hover {
  color: #122AB2;
}

/* MAIN */
.main h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 50px 10px 60px;
}

/* SOBRE */
.sobre {
  border-bottom: 2px solid #2680EB;
  border-top: 2px solid #2680EB;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 75px 0;
}
.sobre h2 {
  flex-basis: 100%;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 30px
}

.sobre-info {
  flex: 2 1 300px;
  margin-right: 55px;
  position: relative;
  top: -10px;
}
.sobre-info p {
  color: #7C7C7C;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 30px;
  vertical-align: top;
}

.sobre-img {
  flex: 1 1 160px;
  margin-left: 10px;
}
